
  .converter {
    background-color:red;
    padding:20px;
    border-radius:5px;
    height:200px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.1);
  }
  .m1{
    background-image:url("currency.jfif");
    background-repeat:no-repeat;
    background-size:1530px 800px;
  }

  .convertor22{
    border:2px solid rgb(255, 255, 255);
    font-family:Arial,sans-serif;
    margin:0;
    padding:0;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
  }

  .result{
    border:2px soli red;
  }